
.logo{
	padding-left: 100px;
}
.navbar-brand{
	margin-right: 220px;
	font-size: 40px;
	padding-left: 50px;
	padding-top: 25;
}

.nav-each{
	font-family: silom;
}

.navbar-form{
	
}


.front-image-first{
	float: left;
	width: 600px;
	height: 600px;
	margin: 25px;
}

.side-info{
	position: absolute;
	right: 0;
	width: 300px;
	height: 500px;
	border: 1px solid black;
	margin: 25px;
	text-align: center;
	font-family: silom;
	line-height: 300%;
}

.side-info-title{
	color: 1F6CFF;
	text-decoration: underline;
}

.after{
	clear: left;
}

.block-title{
	position: relative;
	left: 25;
	font-family: silom;
	color: 1F6CFF;
	font-size: 30px;
	text-decoration: underline;
}

.after2{
	clear: left;
}

.box{
	display: inline-block;
	height: 200px;
	width: 350;
	margin: 2.5em;
}

.pic-text{
	text-align: center;
	font-family: silom;
	font-size: 18px;
}

.pic-text2{
	text-align: center;
	font-family: silom;
	font-size: 18px;
}

.after3{
	clear: left;
}

.block-title2{
	position: relative;
	left: 25;
	font-family: silom;
	color: 1F6CFF;
	font-size: 30px;
	text-decoration: underline;
}

.after4{
	clear: left;
}

.box2{
	display: inline-block;
	height: 200px;
	width: 350;
	margin: 2.5em;
}

.review-box{
	display: inline-block;
	height: 200px;
	width: 350;
	margin: 2.5em;
	text-align: center;
	font-family: silom;
	font-size: 26px;
	top: 2em;
}

.heading-sub{
	position: relative;
	left: 25;
	font-family: silom;
	font-size: 45px;
}

.heading-news{
	position: relative;
	text-align: center;
	font-family: silom;
	font-size: 35px;
}

.container{
	display: -webkit-flex;
	display: flex;
	margin: 2em;
}

.pic1{
	width: 700px;
}

.flex-column{
	-webkit-flex:1;
	flex:1;
}

.news-front-pic{
	text-align: center;
	margin: 60px;
	overflow: auto;
}


.news-body{
	position: relative;
	top: 150px;
	font-family: silom;
	font-size: 20px;
	width: 1000px;
	margin:  0 auto;
	line-height: 250%;
}

.source{
	line-height: 800%;
}

.box-news{
	display: inline-block;
	margin: 6em;
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:600px;
    border:1px solid #bbb;
    margin: 10em;
    font-family: silom;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before{
   content: "\2605";
   position: absolute;
}